<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./app.css">
    <title>Counter Application</title>
</head>
<body ng-app="counterApp">
    <div class="d-flex flex-column justify-content-center align-items-center app">
        <h2>Counter Application</h2>
        <div ng-controller="counterController">
            <p class="value-size text-center">{{value}}</p>
            <button class="btn btn-danger" ng-click="decrement()">Decrement</button>
            <button class="btn btn-success" ng-click="increment()">Increment</button>
        </div>
    </div>
</body>
</html>